.card_cont{
    width: calc((100vw / 3) - 100px - 20px);
    background-color: #8C8C8C;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 33.2px;
}

.card_cont a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    width: 143.53px;
}

.card_cont h2{
    font-size: 40px;
    color: #00E5E5;
    width: 300px;
    text-align: center;
}
.card_cont div{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}