*{
    color: white;
}

.fold{
    background-color: #222222;
    width: 100vw;
    height: 90vh;
    clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
    display: grid;
    place-items: center;
    display: inline;
}

.fil-fold{
    filter: drop-shadow(8px 0px 9px rgba(0,0,0,0.5));
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    background-color: #00E5E5;
    width: 100vw;
    height: 90vh;
    box-shadow: 0px 15px 9px   rgba(0, 0, 0, 0.8);
}

.logo{
    content: "";
    height: 300px;
    width: 300px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

.conta{
    padding: 15px;
    position: absolute;
    right: 5%;
    top: 62%;
    background-color: #222222;
    color: #00E5E5;
    font-size: 70px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
    border: none;
}

p{
    cursor: pointer;
}

.whater{
    margin: 0;
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 260px;
    font-weight: 600;
    color: #00cccc93;
    cursor:default;
}

.intro{
    height: 100%;
    width: calc(50vw - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro h1{
    font-weight: 500;
    font-size: 40px;
}

.intro .name{
    font-weight: 700;
    color: #00E5E5;
}

.Container{
    margin: 50px;
    margin-top: 70px;
    height: 90vh;
}

.Container .title{
    font-size: 78px;
}

.title{
    color: #00ccccea;
}

.right{
    text-align: right;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: calc(-94px - 0.67em - 0.67em);
}

.skill-logo{
    width: calc((100vw / 4) - 100px);
}